<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/web/css/bootstrap.css">
  <link rel="stylesheet" href="/web/css/indexstyle.css">
  </head>
  <body>
      <div class="container-sm border-rounded" style="max-width: 100%;">
        <h1>404</h1>
      </div>
  </body>
</html>
