<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/web/css/bootstrap.css">
  <link rel="stylesheet" href="/web/css/indexstyle.css">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1>Title Exist</h1>
  </div>
</body>
</html>
